* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: space;
  src: url(fonts/SpaceCapitan-Regular.otf);
}

@font-face {
  font-family: robo;
  src: url(fonts/roboto-regular-webfont.woff);
}

#navbar_top {
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.mainsection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainsection ul li {
  border: 1px solid grey;
  display: -ms-grid;
  display: grid;
  gap: 2px;
}

.mainsection ul li img {
  max-width: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body {
  background-color: black;
  color: #ffffff;
}

body h2 {
  font-family: space;
}

body a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body ul {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .header {
    padding: 1.1rem;
  }
}

.header-brand {
  font-size: 3rem;
  color: #fff;
  font-family: space;
}

.header-navbar ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .header-navbar ul {
    display: none;
  }
}

.header-navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.header-navbar ul li .active {
  color: #90d2f8ea;
}

.header-navbar ul li a:hover {
  color: #90d2f8ea;
}

.header-social-meida ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media (max-width: 425px) {
  .header-social-meida ul {
    display: none;
  }
}

.header-social-meida ul li {
  margin: 0 1rem;
}

.header-social-meida ul li a:hover {
  color: #fff;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
  padding: 0;
}

@media (max-width: 425px) {
  .gallery {
    width: 90%;
    margin-bottom: 6%;
  }
}

.gallery-card {
  width: 400px;
  height: 300px;
  margin-bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-filter: grayscale(67%);
          filter: grayscale(67%);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-card:hover {
  background-size: 180%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5));
}

.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.gallery-card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: black;
  background-color: white;
  text-shadow: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gallery-card-btn:hover {
  background-color: #fff;
  color: #000;
  text-shadow: none;
}
/*# sourceMappingURL=styles.css.map */