@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,400;1,700&display=swap");

@font-face {
	font-family: rangers;
	src: url(fonts/rangers.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

#navbar_top {
	background-color: black;
	justify-content: center;
	color: white;
}

.mainsection {
	#maincontainer {
		justify-content: center;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		li {
			border: 1px solid grey;
			display: grid;
			gap: 2px;
			img {
				max-width: 120px;
				justify-content: start;
			}
		}
	}
}

body {
	background-color: rgb(0, 0, 0);
	color: #ffffff;
}
body a {
	color: #ffffff;
	text-decoration: none;
	transition: 0.4s;
}
body ul {
	list-style: none;
}

.header {
	display: flex;
	justify-content: center;
	max-width: 1170px;
	padding: 1.5rem 0;
	margin: 0 auto;

	.header-brand {
		font-size: 4rem;
		color: #fff;
		font-family: rangers;
		text-align: center;
	}
}
@media (max-width: 450px) {
	.header {
		padding: 1.1rem;
	}
	#nomesite {
		font-size: 2rem;
	}
}

.header-navbar ul {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 425px) {
	.header-navbar ul {
		display: none;
	}
}
.header-navbar ul li {
	margin: 0 1rem;
	text-transform: uppercase;
	font-size: 0.8rem;
}
.header-navbar ul li .active {
	color: #86d7de;
}
.header-navbar ul li a:hover {
	color: #86d7de;
}
.header-social-meida ul {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
@media (max-width: 425px) {
	.header-social-meida ul {
		display: none;
	}
}
.header-social-meida ul li {
	margin: 0 1rem;
}
.header-social-meida ul li a:hover {
	color: #fff;
}
#mainpage {
	display: block;
	background: #0000;
	height: 600px;
	width: 100%;
	box-sizing: border-box;
	background-image: url("imgs/bground.png");
	background-size: 40vh;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 90px;
	.container {
		text-align: center;
		vertical-align: middle;
		font-family: Arial, Helvetica, sans-serif;
		padding: 20px;
	}
}
.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 100%;
	height: 100%;
	padding: 1.5rem 0;
	margin-top: 50px;
	flex-wrap: wrap;
	gap: 15px;
	padding: 0;
}
@media (max-width: 425px) {
	.gallery {
		width: 90%;
		margin-bottom: 6%;
	}
}
.gallery-card {
	width: 400px;
	height: 300px;
	margin-bottom: 4%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	filter: grayscale(67%);
	transition: 0.7s;
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		background-size: 180%;
		filter: grayscale(0%);
		background-image: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5));
	}
}
.gallery-card-title {
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 1rem;
}
.gallery-card-btn {
	padding: 0.6rem 2rem;
	border: 2px solid #fff;
	color: rgb(0, 0, 0);
	background-color: white;
	text-shadow: none;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.gallery-card-btn:hover {
	background-color: #fff;
	color: #000;
	text-shadow: none;
}

footer {
	text-align: end;
	margin-right: 4px;
	
}
#spinner:not([hidden]) {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#spinner::after {
	content: "";
	width: 80px;
	height: 80px;
	border: 2px solid #f3f3f3;
	border-top: 3px solid #f25a41;
	border-radius: 100%;
	will-change: transform;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
